In [31]:
import json
import os
import numpy as np

In [32]:
theta0: float = 0.0
theta1: float = 0.0

if os.path.exists("model.json"):
        with open("model.json", "r") as f:
                model = json.load(f)
                theta0 = float(model["theta0"])
                theta1 = float(model["theta1"])

print(f"theta0: {theta0}")
print(f"theta1: {theta1}")

theta0: 8499.581911395382
theta1: -0.021448918828034853

In [33]:
try:
        mileage: float = float(input("Enter mileage: "))
        price = theta0 + theta1 * mileage
        print(f"estimated price for the mileage {mileage}: {price}")

except ValueError:
        print("Invalid input value")
        exit(1)

estimated price for the mileage 33333.0: 7784.625100100497